{% extends 'base.html.twig' %}


{% block body %}

	<div class="container">

		<h1 class="my-4">Espace Membre</h1>


		<div class="row">
			<div class="col-md-3">{% include 'account/_menu.html.twig' %}</div>
			<div
				class="col-md-9">

				{# {{dump(orders)}} #}

				{% if orders|length == 0 %}

					<h5>Vous n'avez passé aucune commande pour le moment.</h5>

				{% else %}


					<h5>Mes dernières commandes</h5>

					<table class="table ">
						<thead>
							<tr>
								<th scope="col">N°</th>
								<th scope="col">Date</th>
								<th scope="col">Staut</th>
								<th scope="col">Total TTC</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{order.id}}</td>
									<td>{{order.createdAt|date('d/m/Y')}}</td>
									<td>{{ include ('admin/state.html.twig', { field : {'value' : order.state}})}}</td>
									<td>{{order.totalWT|price}}</td>
									<td>
										<a href="{{ path('app_account_order', { 'id_order':order.id}) }}">
											<div class="btn btn-secondary">détails</div>
										</a>
									</td>

								</tr>
							</tbody>
						</tbody>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endif %}
</div></div></div>{% endblock %}
