{% extends 'base.html.twig' %}


{% block body %}

	<div class="container my-4">

		<h1 class="my-4">Catégories :</h1>
		<h3>Découvrez nos
			{{category.products|length}}
			{{category.name}}
			:</h3>

		<div class="row w-100 row-gap-3 mx-auto">
			{% for product in category.products %}
				<a href="{{ path('app_product', {slug : product.slug})}}" class="col-12 col-md-6 col-lg-4 col-xl-3 text-decoration-none">
					<div class="card h-100">
						<img src="/uploads/{{product.illustration}}" class="card-img-top" alt="{{product.name}}">
						<div class="card-body">
							<h5 class="card-title text-center">{{product.name}}</h5>
						</div>
						<ul class="list-group list-group-flush w-100">
							
							<li class="list-group-item d-flex justify-content-between fw-bold">
								Prix TTC :
								<span>
									{{product.price|price}}
								</span>

							</li>
						</ul>

					</div>
				</a>
			</a>
		{% endfor %}

	</div>

</div>{% endblock %}
