{% extends '@!EasyAdmin/layout.html.twig'  %}

{% block main %}

	<h3>Commande numéro :
		{{ order.id }}</h3>
	<p class="my-4">{{ include ('admin/state.html.twig',{ field : {'value' : order.state}})}}</p>

	<p>Commande du :
		{{ order.createdAt|date('d/m/Y') }}
	</p>
	<p>Stripe Session Id du :
		{{ order.stripeSessionId }}
	</p>


	<div class="row">
		<div class="col-md-4">
			<p>
				<b>Addresse de livraison:
					<br/></b>
				{{ order.delivry|raw}}</p>
		</div>
		<div class="col-md-8">
			<p>
				<b>Transporteur :<br/></b>
				{{ order.carrierName|raw}}</p>


		</div>

		<p>
			<b>Contenu de la commande :</b>
		</p>
		<table class="table table stripped">
			<thead>
				<tr>
					<th scope="col">Illustration</th>
					<th scope="col">Nom Produit</th>
					<th scope="col">Qtt</th>
					<th scope="col">PU HT</th>
					<th scope="col">TVA</th>
					<th scope="col">PU TTC</th>
					<th scope="col">Total TTC</th>
				</tr>
			</thead>
			<tbody>
				{% for product in order.orderDetails %}
					<tr>
						<td><img src="/uploads/{{product.productIllustration}}" width="100px" alt="{{product.productName}}"/></td>
						<td>{{product.productName}}</td>
						<td>{{product.productQuantity}}</td>
						<td>{{product.productPrice|price}}</td>
						<td>{{product.productTva}}</td>
						{% set coeff = 1 + (product.productTva / 100)  %}
						<td>{{ (product.productPrice * coeff)|price }}</td>
						<td>{{ ((product.productPrice * coeff) * product.productQuantity)|price }}</td>
					</tr>
				{% endfor %}
				<tr>
					<td>Tranport :</td>
					<td>{{ order.carrierName}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ order.carrierPrice|price}}</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex flex-column w-auto ms-auto">

			<div class="d-flex justify-content-between w-100">
				<p class="mx-3">
					<b>TOTAL H.T. :</b>
				</p>
				<p>
					{{(order.totalWt - order.totalTva)|price}}</p>
			</div>
			<div class="d-flex justify-content-between w-100">
				<p class="mx-3">
					<b>TOTAL TVA :</b>
				</p>
				<p>
					{{order.totalTva|price}}</p>
			</div>
			<div class="d-flex justify-content-between w-100">
				<p class="mx-3">
					<b>TOTAL TTC :</b>
				</p>
				<p>
					<b>{{order.totalWt|price}}</b>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
 